-# short_url = @client.shorten(item['url'])
%section.item
  %header
    = image_tag item['images'].first['url']
  %section
    %p
      = item['title']
      -# link_to short_url.urls, short_url.urls
      %a(href="#") bit.ly/Hbi42T
  %footer
    by
    = image_tag "test/company_1.png"
    %div.btn.actions
      %a(href="#") Add to Basket
      %div.arrow
        %span
      %div.extra.hidden
        %a(href="#") Add to basket
        %a(href="#") Remove from favourites
       