%a.btn(href="3") asd
%section.items-grid#grid
  - @list['recipes'][0,20].each do |item|
    = render :partial => 'item', :locals => { :item => item }

%nav.next
  = link_to 'next page', items_path(:page => 1), :class => 'link'